<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <th style="width: 10%;">昵称</th>
                <th style="width: 20%;">注册邮箱</th>
                <th style="width: 20%;">邮箱</th>
                <th style="width: 30%;">反馈内容</th>
                <th style="width: 20%;">反馈时间</th>
            </thead>
            <tbody>
                <tr ng-repeat="suggestion in suggestions">
                    <td>{{suggestion.nickname}}</td>
                    <td>{{suggestion.userEmail}}</td>
                    <td>{{suggestion.email}}</td>
                    <td>{{suggestion.suggestion}}</td>
                    <td>{{suggestion.suggestTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
</div>