<div class="row" style="margin-top: 25px;">
    <form class="form-horizontal" action="/video/upload" method="post" id="upload-meta">
        <div class="form-group">
            <label for="title" class="col-sm-1 control-label">标题</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="title" placeholder="标题" name="title">
            </div>
        </div>
        <div class="form-group">
            <label for="frameOffset" class="col-sm-1 control-label">截图</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="frameOffset" placeholder="截图视频秒数，正整数，默认15" name="frameOffset">
            </div>
        </div>
        <div class="form-group">
            <label for="channel" class="col-sm-1 control-label">频道</label>
            <div class="col-sm-11">
                <select class="form-control" name="channel" id="channel" ng-model="selectedValue" ng-options="channel.text for channel in channels track by channel.value"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-1 control-label">描述</label>
            <div class="col-sm-11">
                <textarea class="form-control" rows="3" id="desc" name="videoDesc" style="resize: vertical;"></textarea>
            </div>
        </div>
        <input type="hidden" class="form-control" id="key" name="videoContent">
        <input type="hidden" class="form-control" id="bit_rate" name="bitRate">
        <input type="hidden" class="form-control" id="duration" name="duration">
        <input type="hidden" class="form-control" id="video_width" name="width">
        <input type="hidden" class="form-control" id="video_height" name="height">
        <input type="hidden" class="form-control" id="video_file_size" name="fileSize">
        <input type="hidden" class="form-control" id="video_codec_name" name="codecName">
        <input type="hidden" class="form-control" id="video_codec_type" name="codecType">
        <input type="hidden" class="form-control" id="display_aspect_ratio" name="displayAspectRatio">
    </form>
    <form class="form-horizontal" action="http://upload.qiniu.com/" enctype="multipart/form-data" method="post" id="upload-file">
        <div class="form-group">
            <label for="videoContent" class="col-sm-1 control-label">视频</label>
            <div class="col-sm-6">
                <input type="file" id="videoContent" name="file">
                <p class="help-block">视频源文件，支持mp4/flv...</p>
            </div>
            <div class="col-sm-5" style="display: none;height: 50px;" id="process-uploading">
                <img src="/static/images/loading.gif" style="height: 50px;">
                <span>上传中...</span>
            </div>
        </div>
    </form>
    <input id="upload-token" name="token" type="hidden" value="{{uploadToken}}"/>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button type="button" class="btn btn-success" style="width: 100px;" id="btn-upload">上传</button>
        </div>
    </div>

</div>

<script type="application/javascript">
    $(function(){
        $('#upload-meta').submit(function(e) {
            e.preventDefault();
            var formObj = $(this);
            var data = new FormData(this);
            $.ajax({
                url: formObj.attr('action'),
                type: formObj.attr('method'),
                data: data,
                processData: false,
                contentType: false,
                success:function(response) {
                    alert("上传完成！");
                    console.log(response);response
                    $('#process-uploading').hide();
                    $('#btn-upload').addClass('btn-success');
                    $('#btn-upload').removeAttr('disabled');
                    $('form').trigger('reset');
                }
            });
        });
        $('#upload-file').submit(function(e){
            e.preventDefault();
            var formObj = $(this);
            var data = new FormData();
            $.each($('#videoContent')[0].files, function(i, file) {
                data.append('file', file);
            });
            data.append('token', $('#upload-token').val());
            $.ajax( {
                url: formObj.attr('action'),
                type: formObj.attr('method'),
                data: data,
                processData: false,
                contentType: false,
                error: function(responseObj){
                    $('#process-uploading span').html('已上传到七牛，提交我们的服务器...');

                    var response = $.parseJSON(responseObj.responseText+'}');
                    $('#key').val(response.key);
                    var avinfoVideo = response.avinfo.video;
                    $('#bit_rate').val(avinfoVideo.bit_rate);
                    $('#duration').val(avinfoVideo.duration);
                    $('#video_width').val(avinfoVideo.width);
                    $('#video_height').val(avinfoVideo.height);
                    $('#video_codec_name').val(avinfoVideo.codec_name);
                    $('#video_codec_type').val(avinfoVideo.codec_type);
                    $('#display_aspect_ratio').val(avinfoVideo.display_aspect_ratio);
                    $('#video_file_size').val(response.avinfo.format.size);
                    $('#upload-meta').submit();
                },
                statusCode:{
                    403: function () {
                        alert("请登录!");
                        window.location.replace("/login.jsp");
                    }
                }
            } );

        });
        $('#btn-upload').on('click', function(){
            console.log($('#upload-token').val());
            $('#process-uploading span').html('上传中...');
            $('#process-uploading').show();
            $(this).removeClass('btn-success');
            $(this).attr('disabled','disabled');
            $('#upload-file').submit();
        });
    })
</script>