<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enginecore.bigcam.core.dao.CommentDao">
    <insert id="comment" parameterType="com.enginecore.bigcam.dto.beans.Comment">
        INSERT INTO qh_comment (user_id, video_id, video_user_id, replied_user_id, comment_text, praise_times, comment_time)
        VALUES(#{userId}, #{videoId}, #{videoUserId}, #{repliedUserId}, #{commentText}, #{praiseTimes}, now())
    </insert>

    <resultMap id="commentBean" type="com.enginecore.bigcam.dto.beans.Comment">
        <id column="commentId" property="commentId"/>
        <result column="userId" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="repliedUserId" property="repliedUserId"/>
        <result column="repliedNickname" property="repliedNickname"/>
        <result column="commentText" property="commentText"/>
        <result column="profilePhoto" property="profilePhoto"/>
        <result column="repliedProfilePhoto" property="repliedProfilePhoto"/>
        <result column="praiseTimes" property="praiseTimes"/>
        <result column="commentTime" property="commentTime"/>
        <result column="praised" property="praised"/>
    </resultMap>

    <sql id="commentMap">
        SELECT qc.comment_id as commentId, u.user_id as userId, u.nickname as nickname,
        reply.user_id as repliedUserId, reply.nickname as repliedNickname,
        qc.comment_text as commentText, u.profile_photo as profilePhoto,
        reply.profile_photo as repliedProfilePhoto, temp.praise_times > 0 as praised,
        qc.praise_times as praiseTimes, qc.comment_time as commentTime
        FROM qh_comment qc
        left join qh_user u ON qc.user_id=u.user_id
        left join qh_user reply on qc.replied_user_id=reply.user_id
        left join (
        select count(*) as praise_times, user_id, comment_id
        from qh_user_praise_comment
        group by user_id,comment_id
        ) temp on temp.user_id=qc.user_id and temp.comment_id=qc.comment_id
    </sql>

    <select id="refresh" resultMap="commentBean">
        <include refid="commentMap"/>
        WHERE qc.video_id=#{videoId}
        ORDER BY qc.comment_id DESC
        <if test="limit != null and limit>0">
            limit #{limit}
        </if>
    </select>
    <select id="load" resultMap="commentBean">
        <include refid="commentMap"/>
        WHERE qc.video_id=#{videoId}
        AND qc.comment_id &lt; #{commentId}
        ORDER BY qc.comment_id DESC
        <if test="limit != null and limit>0">
            limit #{limit}
        </if>
    </select>

    <update id="praise">
        UPDATE qh_comment SET praise_times = praise_times + 1 WHERE comment_id=#{commentId}
    </update>

    <update id="unPraise">
        UPDATE qh_comment SET praise_times = praise_times - 1 WHERE comment_id=#{commentId}
    </update>
</mapper>