<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enginecore.bigcam.core.dao.UserLikeVideoDao">
    <insert id="suggest">
        INSERT INTO qh_user_suggestion(user_id, user_email, user_suggestion, suggest_time)
        VALUES (#{userId}, #{email}, #{suggestion}, now())
    </insert>

    <select id="list" resultType="java.util.Map">
        SELECT qu.nickname as nickname, qh.email as userEmail, qus.user_email as email, qus.user_suggestion as suggestion, qus.suggest_time as suggestTime
        FROM qh_user_suggestion qus JOIN qh_user qu
        ON qus.user_id=qu.user_id
        ORDER BY suggest_time DESC
    </select>
</mapper>